<h1>Add new course</h1>

<form action="/add" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate">
        <label class="active" for="title">Name of course</label>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate">
        <label class="active" for="price">Price</label>
    </div>

    <div class="input-field">
        <input id="img" name="image" type="text" class="validate">
        <label class="active" for="img">URL of image</label>
    </div>
    <button type="submit" class="btn btn-primary">Add course</button>
</form>
